/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 21, 2022, 10:00:42 AM
    Author     : frah3946
*/

.class_paragraph{
    color: black;
    background-color: lightgoldenrodyellow;
    border: 4px solid lightcoral;
    border-bottom:  20px solid lightcoral;
    padding: 40px 20px 20px 15px;
    
}
.green_color{
    color:green;
}
.button {
    border: solid black;
    color: white;
    text-align: center;
    background-color: darkred;
    margin: 4px 40px;
    padding: 15px 30px;
}
.class_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
    display: inline;
    margin-right: 1em;
}